/************

    COMMON

************/

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 0;
    font-family: quicksand, Arial, Helvetica, sans-serif;
    background-color: #C1BDBD;
}

hr {
    width: 50%;
    background-color: black;
    height: 3px;
}

.hr-footer {
    width: 95%;
}

/************

 LAYOUT GRID

************/

.layout-container {
    display: grid;
    grid-template-areas:
        "header"
        "popular-shows"
        "coming-soon"
        "footer";
    height: calc(100vh - 2px);
}

.header {
    grid-area: header;
}

.popular-shows {
    grid-area: popular-shows;
}

.coming-soon {
    grid-area: coming-soon;
}

.footer {
    grid-area: footer;
}

/************

   HEADER

************/

.img-container {
    display: flex;
}

.header img {
    width: 100%;
    height: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    max-width: 4120px;
}

.movie-max-img {
    height: 100px !important;
    width: 266px !important;
    margin-left: 25px;
    margin-right: 400px;
}

.right-nav {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px #ffffff solid;
    border-radius: 15px;
    margin-top: 15px;
}

input {
    background-color: transparent;
    border: none;
    padding: 18px;
}

.search-icon {
    height: 32px !important;
    width: 32px !important;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin-right: 25px;
}

.nav-links li {
    margin: 0 35px;
}

.link1 {
    margin-right: 30px;
}

.nav-links a {
    color: #ffffff;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 2px;

}

li:visited {
    color: #ffffff;
}

/************

POPULAR-SHOWS

************/

.popular-shows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 1%; */
}

.ps-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 15px;
    margin: 0 40px;
}

.ps-card {
    margin-top: 20px;
    margin-bottom: 40px;
}

.ps-grid img {
    width: 100%;
    height: auto;
}

.ps-title {
    height: 50px;
}

/************

 COMING-SOON

************/

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 1%; */
}

.cs-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 15px;
    margin: 0 40px;
}

.cs-card {
    margin-top: 20px;
    margin-bottom: 40px;
}


/************

 GRID COMMON

************/


.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: center;
}

.star {
    height: 20px !important;
    width: 20px !important;
}

.trailer-btn {
    height: 32px !important;
    width: 79px !important;
}

/************

   FOOTER

************/

footer img {
    margin: 0 3%;
}

/************

   @MEDIA

************/

@media screen and (max-width: 600px) {
    .ps-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1%;
        padding: 15px;
        margin: 0 40px;
    }

    .coming-soon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5% 1% 0 1%;
    }

    .cs-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 1%;
        padding: 15px;
        margin: 0 40px;
    }

    /* TEST */

    .movie-max-img {
        height: 100px !important;
        width: 266px !important;
        margin-left: 25px;
        margin-right: 15px !important;
    }

    .right-nav {
        display: flex;
        align-items: center;
    }
    
    .search {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 2px #ffffff solid;
        border-radius: 15px;
        margin-top: 15px;
    }
    
    input {
        background-color: transparent;
        border: none;
        padding: 18px;
    }
    
    .search-icon {
        height: 32px !important;
        width: 32px !important;
    }
    
    .nav-links {
        display: flex;
        list-style-type: none;
        /* margin-right: 25px; */
        margin-right: 0;
    }
    
    .nav-links li {
        /* margin: 0 35px; */
        margin: 0 0;
    }
    
    .link1 {
        /* margin-right: 30px; */
    }
}

@media screen and (max-width: 1328px) and (min-width: 601px) {
    .movie-max-img {
        height: 100px !important;
        width: 266px !important;
        margin-left: 25px;
        margin-right: 250px !important;
    }
}

@media screen and (min-width: 1329px) {
    .movie-max-img {
        height: 100px !important;
        width: 266px !important;
        margin-left: 25px;
        margin-right: 300px !important;
    }
}