/************

    COMMON

************/

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #C1BDBD; */
}

p {
    font-family: avenir;
    color: #2E2D2D;
}

/************

    HEADER

************/

.top-pic {
    width: 100%;
    height: auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25%;
    position: absolute;
    width: 100%;
}

.top-nav-links {
    display: flex;
    padding-left: 10%;
}

.top-nav-links li {
    list-style-type: none;
}

.top-nav-links a {
    padding: 25px;
    /* text-decoration: none; */
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: italic;
    font-weight: bold;
}

.top-nav-links a:visited {
    color: #ffffff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25%;
}

.logo {
    /* width: 124px;
    height: 34px; */
    /* width: 200px;
    height: 55px; */
    padding-right: 10%;
    margin: 2% 0;
}

.nav-links {
    display: flex;
    padding-left: 10%;
}

ul {
    padding: 0;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    padding: 25px;
    /* text-decoration: none; */
    color: #464B57;
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: italic;
    font-weight: bold;
}

.nav-links a:visited {
    color: #464B57;
}

/************

    BODY

************/

.middle-pic-container {
    position: relative;
}

.middle-pic {
    width: 100%;
    height: auto;
    margin-bottom: -6px;
    /* position: relative; */
}

.first-text-container {
    display: flex;
    flex-direction: column;
    padding: 0 25%;
    margin-top: 5%;
    position: absolute;
    top: 10px;
    bottom: 30px;
    overflow: scroll;
}

.text-1-pic {
    width: 135px;
    height: 70px;
    /* position: relative; */
}

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #39455D;
    width: 100%;
}

.gallery-container .img {
    padding: 2% 1% 0 1%;
}

.dots {
    margin-top: -1px;
    padding: 1% 0;
    background-color: #39455D;
    display: flex;
    justify-content: center;
}

.second-text-container {
    display: flex;
    align-items: center;
    padding: 0 25%;
    margin: 2% 0;
}

.second-text-item {
    margin-right: 4%;
}

.text-2-pic {
    width: 135px;
    height: 70px;
}

.nav-2 {
    display: flex;
    align-items: center;
    background-color: #414F6A;
    padding-left: 25%;
}

.test-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #414F6A;
    /* padding: 2% 0; */
}

.test-nav a {
    color: #B0B4BF;
    font-family: Arial, Helvetica, sans-serif !important;
}

.test-nav a:visited {
    color: #B0B4BF;
}

.mnt1 {
    background-color: #B0B4BF;
    color: #424E67 !important;
    padding: 5% 0;
}

.nav-links-2 {
    display: flex;
}

.nav-links-2 li {
    list-style-type: none;
}

.nav-links-2 a {
    color: #B0B4BF;
    font-family: Arial, Helvetica, sans-serif !important;
}

.nav-links-2 a:visited {
    color: #B0B4BF;
}

.a-1 {
    /* margin-right: 25px; */
    padding: 16px 65px 17px 65px;
    background-color: #B0B4BF;
    color: #424E67;
}

.a-1:visited {
    color: #424E67 !important;
}

.a-2 {
    padding: 16px 65px 17px 65px;
}

.bottom-pic-container {
    position: relative;
    /* overflow: scroll; */
}

.bottom-pic {
    width: 100%;
    height: auto;
}


.schedule-container {
    background-color: #ffffff;
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2%;
    /* margin: 5% 47% 0 25%; */
    position: absolute;
    top: 10%;
    left: 25%;
    /* bottom: 10%; */
    /* overflow: scroll; */
}

.schedule-dates {
    display: flex;
    justify-content: space-between;
}

/************

    FOOTER

************/

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25%;
    background-color: #414F6A;
    margin-top: -4.5px;
}

.footer-nav p {
    font-family: avenir;
    font-style: italic;
    font-weight: bold;
    color: #617193;
}

/************

    @MEDIA

************/

@media screen and (max-width: 600px) {
    .top-nav {
        padding: 0;
    }

    .top-lg {
        padding: 0 3%;
    }

    .top-nav-links a {
        padding: 25px 10px;
    }

    .nav {
        padding: 0;
    }

    .first-text-container {
        position: absolute;
        top: 1px;
        /* right: -75px; */
        bottom: 193px;
        /* left: -70px; */
        left: 1px;
        overflow: scroll;
    }

    .md-lg {
        padding: 3%;
    }

    .nav-links a {
        padding: 25px 10px;
    }

    .nav-2 {
        display: none;
    }

    .gallery-container {
        padding-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        background-color: #39455D;
        /* width: 100%; */
    }

    .dots {
        padding: 2% 0;
        background-color: #39455D;
        display: flex;
        justify-content: center;
    }

    .schedule-container {
        background-color: #ffffff;
        opacity: .5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1% 2%;
        /* margin: 5% 47% 0 25%; */
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 20%;
        left: 5%;
        overflow: scroll;
    }

    .schedule-container h1 {
        padding-top: 44%;
    }

    .footer-nav {
        padding: 0 3%;
    }

    .footer-logo {
        padding: 1% 0;
    }

    .copyright {
        font-size: 1%;
    }
}

@media screen and (min-width: 601px) {
    .test-nav {
        display: none;
    }

    .phone {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .schedule-container {
        background-color: #ffffff;
        opacity: .5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1% 2%;
        /* margin: 5% 47% 0 25%; */
        position: absolute;
        top: 10%;
        /* right: 5%; */
        bottom: 35%;
        left: 25%;
        overflow: scroll;
    }

    .schedule-container h1 {
        padding-top: 44%;
    }
}